:root {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f3fd;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f1f3fd;
}

.text-gradient {
  background: linear-gradient(90deg, #1976d2, #42a5f5, #90caf9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}